**Stock Price Prediction for NETFLIX**

In [61]:
#Importing the required Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [62]:
#Reading the Dataset
data=pd.read_csv("/content/NETFLIX.csv")
data

           Date        Open        High  ...       Close   Adj Close    Volume
0    02-01-2019  259.279999  269.750000  ...  267.660004  267.660004  11679500
1    03-01-2019  270.200012  275.790009  ...  271.200012  271.200012  14969600
2    04-01-2019  281.880005  297.799988  ...  297.570007  297.570007  19330100
3    07-01-2019  302.100006  316.799988  ...  315.339996  315.339996  18620100
4    08-01-2019  319.980011  320.589996  ...  320.269989  320.269989  15359200
..          ...         ...         ...  ...         ...         ...       ...
237  10-12-2019  296.119995  298.940002  ...  293.119995  293.119995  10476100
238  11-12-2019  294.489990  299.429993  ...  298.929993  298.929993   5589800
239  12-12-2019  295.670013  299.170013  ...  298.440002  298.440002   4766600
240  13-12-2019  298.500000  301.799988  ...  298.500000  298.500000   3879700
241  16-12-2019  300.850006  305.709991  ...  304.209991  304.209991   4658900

[242 rows x 7 columns]

In [63]:
# Printing the first 10 rows of Data
data.head(10)

         Date        Open        High  ...       Close   Adj Close    Volume
0  02-01-2019  259.279999  269.750000  ...  267.660004  267.660004  11679500
1  03-01-2019  270.200012  275.790009  ...  271.200012  271.200012  14969600
2  04-01-2019  281.880005  297.799988  ...  297.570007  297.570007  19330100
3  07-01-2019  302.100006  316.799988  ...  315.339996  315.339996  18620100
4  08-01-2019  319.980011  320.589996  ...  320.269989  320.269989  15359200
5  09-01-2019  317.709991  323.350006  ...  319.959991  319.959991  13343200
6  10-01-2019  314.570007  325.369995  ...  324.660004  324.660004  13472500
7  11-01-2019  330.959991  341.089996  ...  337.589996  337.589996  19500400
8  14-01-2019  334.239990  335.480011  ...  332.940002  332.940002  10499600
9  15-01-2019  349.600006  357.220001  ...  354.640015  354.640015  21181200

[10 rows x 7 columns]

In [64]:
#Checing the dimensions of Data
data.shape

(242, 7)

In [65]:
#Statistical Summary
data.describe()

             Open        High         Low       Close   Adj Close        Volume
count  242.000000  242.000000  242.000000  242.000000  242.000000  2.420000e+02
mean   328.690125  333.077025  324.095537  328.907189  328.907189  7.910557e+06
std     35.485602   35.378773   35.264082   35.172537   35.172537  4.699169e+06
min    255.710007  265.000000  252.279999  254.589996  254.589996  2.411700e+06
25%    295.259994  299.154999  291.085007  295.212502  295.212502  5.160175e+06
50%    335.925003  341.434998  329.964996  337.819992  337.819992  6.390800e+06
75%    360.127503  364.674995  355.162506  359.865006  359.865006  8.762700e+06
max    382.769989  385.989990  378.799988  385.029999  385.029999  3.825890e+07

In [66]:
#More information about the data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242 entries, 0 to 241
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       242 non-null    object
 1   Open       242 non-null    float64
 2   High       242 non-null    float64
 3   Low        242 non-null    float64
 4   Close      242 non-null    float64
 5   Adj Close  242 non-null    float64
 6   Volume     242 non-null    int64
dtypes: float64(5), int64(1), object(1)
memory usage: 13.4+ KB

In [67]:
# Data types of Variables
data.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [68]:
#Checking for the null values
data.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64